---
- name: Install Nginx
  apt:
    name: nginx
    state: present

- name: Configure Nginx reverse proxy
  template:
    src: theepicbook.conf.j2
    dest: /etc/nginx/conf.d/theepicbook.conf

- name: Ensure Nginx is started and enabled
  service:
    name: nginx
    state: restarted
    enabled: yes
